USE [master]
GO
/****** Object:  Database [MMS]    Script Date: 2022-12-07 14:59:17 ******/
CREATE DATABASE [MMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MMS]
GO
/****** Object:  Table [dbo].[ClinetInformation]    Script Date: 2022-12-07 14:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinetInformation](
	[UniqueID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[PhoneNumber] [bigint] NOT NULL,
	[CreditUnits] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ClinetInformation] PRIMARY KEY CLUSTERED 
(
	[UniqueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageInformation]    Script Date: 2022-12-07 14:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageInformation](
	[ClientID] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[NumberOfdays] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[CostofUnit] [decimal](18, 2) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_MessageInformation] PRIMARY KEY CLUSTERED 
(
	[CostofUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ClinetInformation] ([UniqueID], [Name], [Address], [PhoneNumber], [CreditUnits]) VALUES (N'Test176', N'Test', N'Test', 1212121212, CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[ClinetInformation] ([UniqueID], [Name], [Address], [PhoneNumber], [CreditUnits]) VALUES (N'Test2824', N'Test2', N'Test2', 213123231, CAST(200.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[MessageInformation] ([ClientID], [Message], [NumberOfdays], [StartDate], [CostofUnit], [Status]) VALUES (N'Test176', N'Hello World', 10, CAST(N'2022-12-05T00:00:00.000' AS DateTime), CAST(10.00 AS Decimal(18, 2)), 0)
GO
ALTER TABLE [dbo].[MessageInformation]  WITH CHECK ADD  CONSTRAINT [FK_MessageInformation_ClinetInformation] FOREIGN KEY([ClientID])
REFERENCES [dbo].[ClinetInformation] ([UniqueID])
GO
ALTER TABLE [dbo].[MessageInformation] CHECK CONSTRAINT [FK_MessageInformation_ClinetInformation]
GO
USE [master]
GO
